@import "@carbon/layout";

.s-login-top {
  margin-bottom: $spacing-08;
}

.s-login-text-field {
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
}

.s-login-continue-button {

  margin-bottom: $spacing-06;
}